<header>
    <!-- <h1 ng-click="$ctrl.gotoImages()">Images!</h1> -->
    <a ui-sref="welcome" ui-sref-active="foo" class="header-link">Welcome</a>
    <!-- if i click on welcome, ui-sref-active says the class foo will get applied on welcome -->
    <a ui-sref="images" ui-sref-active="foo" class="header-link">Images</a>
    <a ui-sref="about" ui-sref-active="foo" class="header-link">About</a>
    <a ui-sref="albums" ui-sref-active="foo" class="header-link">Albums</a>


</header>

<main>
    <ui-view></ui-view>
</main>
