@import 'colors';
@import 'hover';
@import 'max-width';

:local(.new-album) {
  border: 1% solid black;
  padding: 2%;
  margin: 1%;
  border-radius: 1%;
  background: $bg-color-newimage;
  max-width: $max-width;
}

:local(.addAlbumBtn) {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 2%px 2%px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: 'VT323', monospace;
  margin: 2% 2%;
  cursor: pointer;
    &:hover{
      @include hover-shadow();
    }
  }
