<section>
<div id="view-wrapper">
    <label>View:</label>
    <select
    ng-class="app.styles['selector']"
    ng-model="app.viewName"
    ng-options="view for view in app.views"
    ng-change="app.renderView()">
    </select>
</div>
  <div ng-repeat="image in app.images"
   ng-hide="app.loading">
    <hr>
    <image-short image="image" ng-show="app.shortView"></image-short>
    <image-thumbnail image="image" ng-show="app.thumbnailView"></image-thumbnail>
    <image-full image="image" ng-show="app.fullView" remove="app.remove"></image-full>
    <button ng-class="app.styles['delete-btn']" ng-click="app.remove(image)">Delete</button>
</div>
<new-image add="app.add"></new-image>

<!-- parent component of image-app has a function called add
and i want the child (new-image) to have access.
then go to new-image controller and declare binding name called add
  which is the new-image attribute 'add'
  the value of this new attribute is going to be inherited from the parent compoennt -->
</section>
