<section>
<div id="view-wrapper">
    <label>View:</label>
    <select ng-class="app.styles['selector']" ng-model="app.viewName" ng-options="view for view in app.views" ng-change="app.renderView()"></select>
</div>
  <div ng-repeat="image in app.images" ng-hide"app.loading" ng-class="{'thumbnail-view': app.thumbnailView, 'short-view': app.shortView, 'full-view': app.fullView'}">
    <image-short image="image" ng-show="app.shortView"></image-short>
    <hr>
    <image-thumbnail image="image" ng-show="app.thumbnailView"></image-thumbnail>
    <hr>
    <image-full image="image" ng-show="app.fullView" remove="app.remove"></image-full>
    <button ng-class="app.styles['delete-btn']" ng-click="app.remove(image)">Delete</button>
    <hr>
</div>
<new-image add="app.add"></new-image>
</section>
