@import 'hover';

:local(.delete-btn){
  background-color: #c91c1c;
  border: none;
  color: white;
  padding: 2% 5%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: 'VT323', monospace;
  margin: 2% 2%;
  cursor: pointer;

    &:hover{
      @include hover-shadow();
    }
  }

:local(.selector){
  width: 20%;
  height: 20%;
  border: .5% solid black;
  select {
    -webkit-appearance: none;
    background: transparent;
    width: 10%;
    padding: 1%; /* If you add too much padding here, the options won't show in IE */
    font-size: 16px;
    line-height: .5%;
    border: none;
    height: 15%;
    -webkit-border-radius: 1%;
    -moz-border-radius: 1%;
    border-radius: 1%;
  }
}
