.full-view img {
  max-width: 50%;
  width: 100%
}

.img-view {
  max-width: 90%;
}

#view-wrapper {
  padding: 2%;
  margin: 2%;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  background-color: grey;
}

h1 {
  color: black;
}
